he1{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15vh;
    color:black
}


he2{
    font-family: Helvetica;
    font-size: 7vh;
    color:blue;
}

he3{
    font-family: Helvetica;
    font-size: 5vh;
    color:white;
}

he4{
    font-family: Arial;
    font-size: 3vh;
    color:black;
}

f2{
    font-family: Helvetica;
    font-size: 3vh;
    color:white;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
hor {
    display: block;
    height: 2px;
    width:90%;
    border-width: 2px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: black;
    
  }
  .modalpart {

    height: 100%;
    max-width: 100%;
    max-height: 50vh;
    align-self: center;
    
  }

  .row_divider{
    padding-top: 1vh;
    padding-bottom: 1vh;
}


.divider{
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.reglink{
    color:blue;
}

.table{
    table-layout: fixed
}