h1{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15vh;
    color:black
}


h2{
    font-family: Helvetica;
    font-size: 7vh;
    color:blue;
}

h3{
    font-family: Helvetica;
    font-size: 30px;
    color:white;
}

h4{
    font-family: Arial;
    font-size: 3vh;
    color:black;
}
