#aboutme{
    font-family: Helvetica;
    font-size: 7vh;
    font-weight: bold;
    color:white
}

#aboutme-container{
    background-image: url("../../public/banner-background.jpg");
    background-position: center;
    background-size: auto;
    background-color: blue;
}

#about-me-text {
    padding-top: 3vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5vh;
    color:white;
    
}


#divider {
    background-color: antiquewhite;
    height: 100%;
    flex:1;
    align-self:stretch;
}



#banner{
    background-image: url("../../public/banner-background.jpg");
    background-position: center;
    background-size: auto;
    
}

#banner-aboutme{
    padding-top: 5vh;
    flex:1
    
}

#banner-p{
    flex:1
}