#contact-container{

    padding: 5vh;
    width:50%;
    
}

#contact{
    background-image: url("https://s-hliao.github.io/portfolio-react/banner-background.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    
}

#contact-left{
    flex: 1;
    width: 100%;


    
}

#contact-right{
    flex: 1;
    width: 100%;

}




.top-boxes{
    flex: 1;
    justify-content: space-around;
    margin-bottom: 3vh;
}

#contact-title{
    color:white;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}

#contact-form{
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
}

.message{
    width:100%;
    margin-bottom: 2vh;
}