.screen-container{
    display: flex;
    align-items: center;
    height:100vh;
    width:100%;
    
}

.section-container{
    display: flex;
    align-items: center;
    width:100%;
    
    
}

.container-block{
    display: block;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly; 

    height:100%;
    width:100%;
}


.container-row{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly; 

    height:100%;
    width:100%;
}

#navflex{
    background-color: #212529;
}

.container-col{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly; 

    height:100%;
    width:100%;

}
.row-item-title{
    flex:1;
    background-color: white;
    text-align: left;
    line-height: 1;
}

.row-item-img{
    flex:.7;
    background-color: white;
    text-align: center;

}

.padding-left{
    padding-left: 1rem;
    text-align:left;
}
.padding-right{
    padding-right: 0.5rem;
}

